# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenvs
venv/
.venv/
venv_gpu/
env/

# Caches / builds
.cache/
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Data & Models
data/raw/
data/references/
data/models/*.h5
!data/models/*.tflite

# Logs & Temporary Files
*.log
*.txt
!requirements.txt
!test_samples.txt

# OS Generated
.DS_Store
